{% load static %}
<!doctype html>
<html lang="en">
<head>
{#    <link rel="stylesheet" href="{% static 'css/background.css' %}">#}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
    * {
        margin: 0;
        padding: 0;
    }
    html, body {
        height: 100%;
        font-size: smaller;
        font-family: "Arial Black";
    }


.container {
            border: 1px solid black;
        }

.myrow {
            border: 1px solid black;
            align-content: center;
        }

.mycol {
            border: 1px solid black;
            align-content: center;
        }

.myhead {
            border: 1px solid darkcyan;
            height: 100px;
        }
.red{background:red}

.green{background:green}

#scroll{
            position: fixed;
            bottom :40px;
            right: 40px;
            font-size: 20px;
            width: 40px;
            height: 40px;
            background: blue;
            color: black;
            border: crimson;
            cursor: pointer;
        }

        #scrolldown{
            position: fixed;
            top :80px;
            right: 40px;
            font-size: 20px;
            width: 40px;
            height: 40px;
            background: olivedrab;
            color: black;
            border: none;
            cursor: pointer;
        }
    </style>
{#    <script type="text/javascript" src="{% static 'js/scrolltop.js' %}"></script>#}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/266bd97e2d.js" crossorigin="anonymous"></script>
    {#    <script type="application/javascript" src="{% static 'js/utils.js' %}"></script>#}
    <!-- Required meta tags -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#button').click(function () {
                $('#myalert').show('fade');

            });
            $('#linkclose').click(function () {
                $('#myalert').hide('fade');
            });
        });
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title> Welcome Domains </title>
</head>
<body style="background: white">
<div class="container bg">
<section id="up">
<a href="#down" id="scrolldown"><span></span>Scrodown</a>
</section>
    <div class="row justify-content-center myrow">
        <div class="col1 mycol" style="text-align: center;background: brown; width: 1500px;height: 100px"><h1>MASSIMO SEO COMPANY</h1></div>
        <form method="post"enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col2 mycol"><input type="file" name="f" required><br><br></div>
            <div class="col2 mycol">
                <button type="button" id="button" class="btn btn-primary" data-target="alert">Upload to Database
                </button>
            </div>

            <div id="myalert" class="alert alert-danger collapse " role="alert">
                <strong>Error!</strong> You should check in on some of those fields below.
                <button id="linkclose" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br/>
                <button type="submit" value="add" class="btn btn-primary" formaction="{% url 'main' %}">ADD</button>

                <button type="submit" value="delete" class="btn btn-primary" formaction="{% url 'delete' %}">DELETE</button>

            </div>
        </form>
    </div>

    <div class="row myrow" style="text-align: center">
        <div class="container" >
            <div class="row myrow">
                <div class="col mycol" >.it</div>
                <div class="col mycol">.com</div>
                <div class="col mycol">.eu</div>
                <div class="col mycol">.net</div>
                <div class="col mycol">.org</div>
                <div class="col mycol">.info</div>
                <div class="col mycol">.biz</div>
    </div>

        <div class="row border border-white" >
            <div class="col mycol">
                {% for x in data %}

                         {% if x.category == "it"%}{% if x.status == "free" %}

                             <div title="{{ x.value }}" style="background: lightgreen;overflow: hidden;white-space: nowrap; margin-bottom: 5px; text-overflow: ellipsis">{{ x.value }}<br/><div>{{ x.creation_date }}</div></div>
                         {% else %}
                             <div title="{{ x.value }}" style="background: pink;overflow: hidden;white-space: nowrap; margin-bottom: 5px;text-overflow: ellipsis">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                             {% endif %}
                         {% endif %}

                {% endfor %}
            </div>

                <div class="col mycol">
                    {% for x in data %}
                         {% if x.category == "com"%}{% if x.status == "free" %}
                             <div title="{{ x.value }}" style="background: lightgreen; overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                         {% else %}
                             <div title="{{ x.value }}" style="background: pink; overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                             {% endif %}
                         {% endif %}

                    {% endfor %}
                </div>
                <div class="col mycol">
                    {% for x in data %}
                         {% if x.category == "eu"%}{% if x.status == "free" %}
                             <div title="{{ x.value }}" style="background: lightgreen;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                         {% else %}
                             <div title="{{ x.value }}" style="background: pink;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                             {% endif %}
                         {% endif %}

                    {% endfor %}
                </div>


                <div class="col mycol">
                    {% for x in data %}
                         {% if x.category == "net"%}{% if x.status == "free" %}
                             <div title="{{ x.value }}" style="background: lightgreen;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                         {% else %}
                             <div title="{{ x.value }}" style="background: pink;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                             {% endif %}
                         {% endif %}

                    {% endfor %}
                </div>

                <div class="col mycol">
                    {% for x in data %}
                         {% if x.category == "org"%}{% if x.status == "free" %}
                             <div title="{{ x.value }}" style="background: lightgreen;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                         {% else %}
                             <div title="{{ x.value }}" style="background: pink;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                             {% endif %}
                         {% endif %}

                    {% endfor %}
                </div>


                <div class="col mycol">
                    {% for x in data %}
                         {% if x.category == "info"%}{% if x.status == "free" %}
                             <div title="{{ x.value }}" style="background: lightgreen;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                         {% else %}
                             <div title="{{ x.value }}" style="background: pink;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                             {% endif %}
                         {% endif %}

                    {% endfor %}
                </div>

                <div class="col mycol">
                    {% for x in data %}
                         {% if x.category == "biz"%}{% if x.status == "free" %}
                             <div title="{{ x.value }}" style="background: lightgreen;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                         {% else %}
                             <div title="{{ x.value }}" style="background: pink;overflow: hidden;white-space: nowrap;margin-bottom: 5px">{{ x.value }}<div>{{ x.creation_date }}</div></div>
                             {% endif %}
                         {% endif %}
                    {% endfor %}
                </div>
 </div>

</div>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<section id="down">
<a href="#up" id="scroll"><span></span>ScrollUP</a>
</section>
 <script type="text/javascript">
{##}
{#    const scroll = document.querySelector('#scroll');#}
{#    scroll.addEventListener("click",function () {#}
{#        window.screenTop(0,0);#}
{#        alert("hi")#}
{#    })#}

     $(function() {
  $('scroll').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollBottom: $($(this).attr('href')).offset().bottom}, 500, 'linear');
  });
});
</script>
<script>
    $(function() {
  $('scrolldown').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});
</script>
    </div>
</div>
</body>
</html>